#!/usr/bin/env ruby

require 'compass'
require 'coffee-script'
Compass.add_project_configuration('config.rb')

compile '/stylesheets/*/' do
  filter :sass, Compass.sass_engine_options
end

compile '/stylesheets/_*/' do
  # don’t compile partials
end

compile '/javascripts/*' do
  if item[:extension] == "coffee"
    filter :coffeescript
  end
  filter :uglify_js
end

compile '/javascripts/_*' do
  # don’t compile partials
end

compile '*' do
  unless item.binary?
    filter :haml
    layout 'default'
  end
end

route '/stylesheets/_*/' do
  nil
end

route '/javascripts/_*/' do
  nil
end

route '/stylesheets/*/' do
  item.identifier.chop + '.css'
end

route '/javascripts/*/' do
  item.identifier.chop + '.js'
end

route '*' do
  if item.raw_filename && item.raw_filename.end_with?('CNAME')
    '/CNAME'
  elsif item.binary? || item[:extension] == "html"
    item.identifier.chop + '.' + item[:extension]
  else
    item.identifier + 'index.html'
  end
end

layout '*', :haml
