---

alt_lang: /ja/
lang: en

---

%header
  .container
    %h1#brand= link_to(@site.config[:title], @site.config[:url])
    
  
    
#products
  .container
    aaa

#social
  .container
    = fb_likebutton("https://www.facebook.com/littleapps.jp", 850)