#products
  .container
    %section.product.row
      .span2
        %a{ href: 'http://everdesktop.com/' }
          %img.pic{ src: '/images/products/everdesktop.png' }
      .span2
        %a{ href: 'http://igistapp.com/' }
          %img.pic.appicon{ src: '/images/products/igist.png' }
      .span2
        %a{ href: '/pages/ibacklog/' }
          %img.pic.appicon{ src: '/images/products/ibacklog.png' }
      .span2
        %a{ href: '/pages/yadosearch/' }
          %img.pic.appicon{ src: '/images/products/yadosearch.png' }
      .span2
        %a{ href: '/pages/onairlog813/' }
          %img.pic.appicon{ src: '/images/products/oalog813.png' }
      .span2
        %a{ href: '/pages/onairlog802/' }
          %img.pic.appicon{ src: '/images/products/oalog802.png' }
    %section.product.row
      .span2
        %a{ href: 'http://ngs.github.com/codaplugins/' }
          %img.pic{ src: '/images/products/codaplugin.png' }
      .span2
        %a{ href: 'http://ngs.github.com/lleval-safarix/' }
          %img.pic.rouonded{ src: '/images/products/llevalsafarix.png' }
      .span2
        %a{ href: 'http://code.google.com/p/noawidget/' }
          %img.pic{ src: '/images/products/noawidget.png' }
      .span2
        %a{ href: 'https://play.google.com/store/apps/details?id=org.ngsdev.android.nowOnAir' }
          %img.pic.rouonded{ src: '/images/products/noawidget-android.png' }
      .span2
        %a{ href: 'http://code.google.com/p/abroadair/' }
          %img.pic{ src: '/images/products/abroadair.png' }
      .span2
        %a{ href: 'http://code.google.com/p/abroadwidget/' }
          %img.pic{ src: '/images/products/abroadwidget.png' }
    %section.product.row
      .span2
        %a{ href: 'https://play.google.com/store/apps/details?id=org.ngsdev.yadoroid' }
          %img.pic{ src: '/images/products/yadoroid.png' }
#social
  .container
    = fb_likebutton("https://www.facebook.com/littleapps.jp", 300)