---
layout: product
lang: ja
title: iBacklog
appid: 396109051
description: "バージョン管理 ASP、バックログのクライアントアプリケーション。どこでもバックログの課題がチェックできます。"
---

%header.product
  .container
    %img.appicon{ :src => '/images/products/ibacklog.png', :width => 170, :height => 170 }
    %h1#brand iBacklog
    %h2#subtitle バージョン管理 ASP、バックログのクライアントアプリケーション。
    %p#appstore
      = link_to('Available on the Mac App Store', 'http://itunes.apple.com/jp/app/ibacklog/id396109051?mt=8', :class => 'appstore')

#about
  .container
    :markdown
    
      このソフトウェアは以下の機能を提供します
      
       * 課題の一覧、閲覧、編集
       * コメントの投稿
       * 複数スペースに対応
       
      不具合やご要望などは以下のバックログ プロジェクトに是非 課題を追加して下さい。テスト投稿もOKです。
      
      [https://ibacklog.backlog.jp/projects/IBLG](https://ibacklog.backlog.jp/projects/IBLG) ( ID/Pass : guest / guest )

#screen
  .container
    .row
      .span2
        %img{ src: '/images/products/ibacklog-screen1.jpg' }
      .span2
        %img{ src: '/images/products/ibacklog-screen2.jpg' }
      .span2
        %img{ src: '/images/products/ibacklog-screen3.jpg' }
      .span2
        %img{ src: '/images/products/ibacklog-screen4.jpg' }
      .span2
        %img{ src: '/images/products/ibacklog-screen5.jpg' }
    
#social
  .container
    = fb_likebutton('http://littleapps.jp/pages/onairlog813/')
