---
layout: product
lang: ja
title: OnAirLog813
appid: 416761694
description: "iOS 用、楽曲検索アプリ。東京の FM 局・J-WAVE で放送された楽曲を検索できます。"
---

%header.product
  .container
    %img.appicon{ :src => '/images/products/oalog813.png', :width => 170, :height => 170 }
    %h1#brand OnAirLog813
    %p#appstore
      = link_to('Available on the Mac App Store', 'http://itunes.apple.com/jp/app/onairlog813/id416761694?mt=8', :class => 'appstore')

#about
  .container
    :markdown
      このソフトウェアは、東京の FM 局・[J-WAVE](http://www.j-wave.co.jp/) で放送された楽曲を検索できます。
      
      現在放送されている曲もリアルタイムで更新され、過去に放送された曲も、過去 ( 2010/11/03 まで ) にさかのぼって検索できます。
      
      iTunes Store で販売されている楽曲は、視聴 / 購入ができます。
      
      ブックマーク機能があるので、後でまとめて 視聴 / 購入 もできます。

#screen
  .container
    .row
      .span6
        %img{ src: '/images/products/oalog-screen1.jpg' }
      .span6
        %img{ src: '/images/products/oalog-screen2.jpg' }
    
#social
  .container
    = fb_likebutton('http://littleapps.jp/pages/onairlog813/')
