---
layout: page
alt_lang: /ja/company/
lang: en
---

= render 'header_en'

#company
  .container
    %table.table.table-bordered
      %tbody
        %tr
          %th Name
          %td
            %span.org.fn LittleApps Inc.
        %tr
          %th Representative
          %td
            %a{:href => "http://ngs.io/about/"}
              Atsushi Nagase
        %tr
          %th Founded
          %td
            March 12, 2009
        %tr
          %th Address
          %td
            %address
              5-16-9, Megurohoncho, Meguro, Tokyo, 152-0002 JAPAN
        %tr
          %th Tel
          %td
            %address +81-3-3719-7240
        %tr.email
          %th E-mail
          %td
            %address
              :coffeescript
                email = decodeURIComponent "pjDocDsppaelttil04%proc".split("").reverse("").join("").replace(/D/g, ".")
                document.write "<a href='mailto:\#{email}'>\#{email}</a>"
