---
layout: product
locale: ja
title: Qiita Notifications for Google Chrome
description: "Qiita のお知らせをチェックする Chrome 機能拡張"
ogp:
  og:
    image:
      '': 'https://raw.githubusercontent.com/ngs/qiita-notifications-crx/master/doc/920x680_large-tile.png'
      width: 920
      height: 680
    url: 'http://littleapps.jp/qiita-notifications-crx'
    type: product
---

#about style='padding-top: 5em'
  .container
    .row
      .span3
        = image_tag 'https://raw.githubusercontent.com/ngs/qiita-notifications-crx/master/doc/440x280_small-tile.png', :width => '220', :height => '140', :alt => 'Qiita Notifications for Google Chrome'
      .span9
        markdown:
          Qiita のお知らせをチェックする Chrome 機能拡張。

          Qiita お知らせ は、Qiita の新着情報を Chrome のツールバーアイコンでチェックすることができます。

          アイコンをクリックして、通知一覧を表示できます。

          [![](https://raw.githubusercontent.com/ngs/qiita-notifications-crx/master/doc/badge.png)](https://chrome.google.com/webstore/detail/qiita-notifications/lfaggijcindkbihlopcogjlihmpdpdaa)

#screen
  .container
    .row
      .span6= image_tag 'https://raw.githubusercontent.com/ngs/qiita-notifications-crx/master/doc/screen1.png'
      .span6= image_tag 'https://raw.githubusercontent.com/ngs/qiita-notifications-crx/master/doc/screen2.png'
